/* PQ 1 */
/* h2{
    color:orange;
}

button{
    color:white;
    background-color: blue;
} */

/* p{
    background-color: black;
    color: white;
} */
/* PQ 2 */
/* h3{
    color: #ffffff;
    background-color: #000;
} */
/* PQ 3 */
/* h1{
    color:rgb(255, 255, 0);
}
h2{
    color:rgb(0, 0, 255);
} */
/* PQ 4 */
/* h1{
    color:#ffa511;
    font-family: League spartan;
    text-align: center;
    text-size-adjust:55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:  teal double underline;
    text-transform: uppercase;
    
} */
/* AQ 1 */
*{
    text-align: center;
    font-style: georgia;;
}
p{
    
    line-height: 30px;
    color: brown;
}
h1{
    
    color: red;
}
h3{
    color: black;
}
a{
    color: rgb(0,128,0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color:#000000;
}
span{
    text-decoration: underline;
}
/* CSS Part 2 */
/* PQ 5 */
/* *{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
} */

/* PQ 6 */
/* div[id="myid"] p{
    color: green;
} */
/* OR */
/* #myid p{
    color: green;
} */

/* AQ 2 */
/* #mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1, h3, h5{
    font-style: georgia;
}
p{
    color: white;
    background-color: cornflowerblue;
}
div button{
    color: azure;
    background-color: purple;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input[type="checkbox"]:checked +label{
    color: darkgreen;
} */

/* PQ 7 */
#outer{
    text-align: center;
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin-left: 50%;
}
.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 5px 10px 10px 10px;
    border-radius: 50%;
}
#b1{
    background-color: red;
}
#b2{
    background-color: yellow;
}
#b3{
    background-color: green;
}

/* PQ 8 */
#face{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 2px solid black ;
    border-radius: 50%;
}
.eye{
    height: 20px;
    width: 20px;
    background-color: rgb(78, 54, 54);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 60px
}
#eye2{
    position: absolute;
    top: 70px;
    left: 130px
}

#mouth{
    height: 30px;
    width: 90px;
    background-color: brown;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 130px;
    left: 60px;
}

/* AQ 3 */ 
/* div{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    padding: 1em; 
    margin: 20px 1rem 40px 2em;
} */

/* AQ 4 */
/* div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
} */

/* AQ 5 */
/* ul{
    display: inline;*/
/* NOTE** Li(listitems)havetheirdisplaypropertysetto“list-item”bydefaultwhichmakesthemabulletedlistitem.Whenthispropertyisresetbyyouto“inline”,thenthebulletpointsalsodisappear.Inaway,weoverridethedefaultsettingswithourCSS.
}  */

/* AQ 6 */
/*Qs1.Add a 2s transition on box1 for width changes.It should have'ease-in'speed curve & 0.5s delay */
/* #box1{
    width:100px;
    height:100px;
    background:green;
    transition: 2s ease-in 0.5s;
}
#box1:hover{
    width:600px;
} */
/*Qs2.Using transform,move box2 200px to the right & 200px down.Also rotate it 90 deg.*/
/* #box2{
    width:100px;
    height:100px;
    background:red;
    transform: translate(200px, 200px) rotate(90deg);
} */
/*Qs3.Using transform,skew box3 20 deg along the x axis.*/
/* #box3{
    width:100px;
    height:100px;
    background:lightblue;
    transform: skewX(20deg);
    margin-bottom: 10px;
} */
/*Qs4.Set a 2px horizontal & 2px vertical, green shadow for box4,with a 5px blur radius.*/
/* #box4{
    width:100px;
    height:100px;
    background:lightgreen;
    box-shadow: 2px 2px 5px black;
    
} */
/*Qs5.Set Your picture or any picture as the background of the div"myPic" .Also, set transparency of this div to 50% .*/
/*   #myPic{ 
    width:200px;
    height:200px;
    background:pink;
    background-image: url(minebg.jpeg);
    background-size: cover;
    opacity: 50%;
    margin-top: 10px
    
} */

/* AQ 7 */
/* #container{
    height: 400px;
    width: 400px;
    border-radius: 15px;
    background-color: antiquewhite;
    margin: 10px auto;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    
} */
/* .item{
    
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 50px;
    text-align: center; */
    /* margin: 10px 10px 10px 15px;
    display: inline-block; 
}*/ 

/* AQ 8 */
/* #container{
    height: 50px;
    width: 900px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellowgreen;
    display: inline-flex;
    
}
.data{
    height: 50px;
    width: 80px;
    margin: 15px 10px 10px 10px;
} */

/* AQ 9 */
.container{
    margin: 0;
    padding: 0;
    height: 100px;
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: (12, 1fr);
    grid-gap: 10px;
}
.container div{
    background-color: pink;
    font-size: 1.5rem;
}
.header{
    grid-column: 1 / span 12;
}
.sidebar{
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
}
.navigation{
    grid-column: 4 / span 6;
}
.ads{
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}
.main{
    grid-column: 4 / span 6;
    grid-row: 3 / span 9;
}
.footer{
    grid-column: 1 / span 12;
}

@media(max-width: 720px){
    .header{
        grid-column: 1 / span 12;
    }
    .navigation{
        grid-column: 1 / span 12;
        grid-row: 2;
    }
    .sidebar{
        grid-column: 1 / span 3;
        grid-row: 3 / span 9;

    }
    .main{
        grid-column: 4 / span 9;
        grid-row: 3 / span 9;
    }
    .ads{
        grid-column: 1 / span 3;
        grid-row: 12;
    }
    .footer{
        grid-column: 4 / span 9;
        grid-row: 12;
    }
}

/* AQ 10  */
 .loader{
    border: 16px solid #f3f3f3;
    border-top:16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
0%{
    /*Set rotation to 0 degrees*/
    transform: rotate(0deg);
}
100%{
    /*Set rotation to 360 degrees*/
    transform: rotate(360deg);
}
}

 


