/* PQ 1 */
/* h2{
    color:orange;
}

button{
    color:white;
    background-color: blue;
} */

/* p{
    background-color: black;
    color: white;
} */
/* PQ 2 */
/* h3{
    color: #ffffff;
    background-color: #000;
} */
/* PQ 3 */
/* h1{
    color:rgb(255, 255, 0);
}
h2{
    color:rgb(0, 0, 255);
} */
/* PQ 4 */
/* h1{
    color:#ffa511;
    font-family: League spartan;
    text-align: center;
    text-size-adjust:55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:  teal double underline;
    text-transform: uppercase;
    
} */
/* AQ 1 */
*{
    text-align: center;
    font-style: georgia;;
}
p{
    
    line-height: 30px;
    color: brown;
}
h1{
    
    color: red;
}
h3{
    color: black;
}
a{
    color: rgb(0,128,0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color:#000000;
}
span{
    text-decoration: underline;
}
/* CSS Part 2 */
/* PQ 5 */
/* *{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
} */

/* PQ 6 */
/* div[id="myid"] p{
    color: green;
} */
/* OR */
/* #myid p{
    color: green;
} */

/* AQ 2 */
/* #mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1, h3, h5{
    font-style: georgia;
}
p{
    color: white;
    background-color: cornflowerblue;
}
div button{
    color: azure;
    background-color: purple;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input[type="checkbox"]:checked +label{
    color: darkgreen;
} */

/* PQ 7 */
#outer{
    text-align: center;
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin-left: 50%;
}
.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 5px 10px 10px 10px;
    border-radius: 50%;
}
#b1{
    background-color: red;
}
#b2{
    background-color: yellow;
}
#b3{
    background-color: green;
}
